<div class="container">
  <div class="row">
    <h5>Here is your To-Do list:</h5>
    <div class="jumbotron">
      <%= render @user.items %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Create new To-Do item</h4>
        <%= render 'items/form' %>
      </div>
    </div>
  </div>
</div>
