  <%= form_for([@user, @user.items.build]) do |f| %>
    <div class="form-group">
      <%= f.text_area :name, class:"form-control", placeholder:"What do you want to accomplish?" %>
    </div>
      <%= f.submit "Add it", class:"btn btn-success" %>
  <% end %>
