<% if @item.destroyed? %>
$('#item-<%= @item.id %>').remove();
$('.flash').prepend("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>");
<% end %>
